<!DOCTYPE html>
<html html lang="en" dir="ltr">
<!-- xmlns:th="http://www.thymeleaf.org"  thymeleaf in employee-->

<head>
  <link rel="stylesheet" href="../static/admin.css">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>placeholder name</title>
</head>

<body>
  <ul id="header-index">
    <li><a class="a-index" href="employeepage.html">employee page</a></li>
    <li><a class="a-index" href="adminpage.html">admin page</a></li>
    <li><a class="a-index" href="login.html">login</a></li>
  </ul>

  <header>
    placeholder
  </header>
  <section id="section-index">
    <img id="placeholder-name" src="placeholder logo.png" alt="">
  </section>
</body>

</html>